config mqtt_subscriber 'general'
    option 'enable' '0'
    option 'ipAddress' '127.0.0.1'
    option 'port' '1883'

config mqttsub_topic
    option 'name' 'lova/patalai'
    option 'security_level' 2

config mqttsub_topic
    option 'name' 'lova/ciuzinys'
    option 'security_level' 0

config mqttsub_event
    option topic 'lova/patalai'
    option key 'temperature'
    option data_type 'number'
    option value '30'
    option operator '1'
    option sender_conf 'viliusdummy1@gmail.com'
    option receiver_mail 'sabonisvilius@gmail.com'

config mqttsub_event        
    option topic 'lova/patalai'                
    option key 'test'                             
    option data_type 'string'
    option value 'test'      
    option operator '1'       
    option sender_conf 'viliusdummy1@gmail.com'
    option receiver_mail 'sabonisvilius@gmail.com'
